<mat-grid-list cols="3" rowHeight="16:1">
    <mat-grid-tile rowspan="32" colspan="1">
        <div class="divv">
            <app-tool-bar-mic-view></app-tool-bar-mic-view>
        </div>
        <p>MIC-1 View</p>
    </mat-grid-tile>
    <mat-grid-tile rowspan="16" colspan="1">
        <p>Microprograms</p>
    </mat-grid-tile>
    <mat-grid-tile rowspan="32" colspan="1">
        <p>Input for Macroassembler</p>
    </mat-grid-tile>
    <mat-grid-tile rowspan="16" colspan="1">
        <p>Stack View</p>
    </mat-grid-tile>
</mat-grid-list>