.center{
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
}

.label-container {
    display: flex;
    justify-content: space-between;
    max-width: 284px;
}

button{
    margin-left: 2px;
    margin-right: 2px;
}