<h1>Getting Started</h1>
<hr><br>
<mat-dialog-content class="mat-typography">
    <h3>Try some Demo Code</h3>
    <mat-dialog-actions>
        <button (click)="insertDemo('demo1')" mat-raised-button>Demo 1</button>
        <button (click)="insertDemo('demo2')" mat-raised-button>Demo 2</button>
        <button (click)="insertDemo('demo3')" mat-raised-button>Demo 3</button>
    </mat-dialog-actions>
    <br><hr><br>
    <h3>Import/Export</h3>
    <p style="color: black;">
        Here will be an explanation how to use the Import/Export functionality. This is a placeholder. 
    </p>
    <hr><br>
    <h3>The Registers</h3>
    <p style="color: black;">
        Here will be an explanation how to understand the Registers. This is a placeholder. 
    </p>
</mat-dialog-content>
