<h2>Getting Started</h2>
<hr><br>
<mat-dialog-content class="mat-typography">
    <ul>
        <li>
            <h2>Simulation</h2>
            The buttons are in order from left to right: Micro-Step, Run, Macro-Step, Load. 
            The program has to be loaded everytime it changes, wether it is by manual changes, imports or loaded examples. 
            The execution has three variations. Micro-Step executes a single line of the micro program, macro step is doing the same for the macro program. Run will execute the program until it terminates succesfully or runs into a fault state. 
            The animation speed can be adjusted to showcase the execution of a program in the visualization but will impact execution speed heavily. 
        </li><br><br>
        <li>
            <h2>Import/Export</h2>
            Programs can be exported to and imported from line-separated text files (.txt). Make sure to reload the program after importing prior to execution. 
        </li><br><br>
        <li>
            <h2>Preferences</h2>
            For readability the presentation mode will scale up the font sizes. Do not use browser scaling as it will also scale buttons and other elements. 
        </li><br><br>
        <li>
            <h2>Getting Started</h2>
            The Toolbox comes with three preloaded programs in the Getting Started section. You can use them to get a first idea of the functionality of the MIC-1 or start altering them towards your own ideas.
        </li><br><br>

        <li>
            <h2>Try some Demo Code</h2>
            <mat-dialog-actions>
                <button (click)="insertDemo('demo1')" mat-stroked-button>Demo 1</button>
                <button (click)="insertDemo('demo2')" mat-stroked-button>Demo 2</button>
                <button (click)="insertDemo('demo3')" mat-stroked-button>Demo 3</button>
            </mat-dialog-actions>
            <br><br>
        </li>

        <li>
            <h2>Funtion Buttons</h2>
            <img src="./assets/images/buttonFunctionsGuide.jpg">
            <br><br>
        </li>

        <li>
            <h2>Known Bugs</h2>
            <ul>
                <li>
                    IRETURN is not working currently. The intended behaviour to return from a method is crashing the simulation and ending the program. 
                </li>

                <li>
                    Register Visualization on the left side is showing wrong results when program is executed multiple times. Refresh the page if the correct visualization is necessary.
                </li>
            </ul>
        </li>

    </ul>
</mat-dialog-content>
