<h2>Getting Started</h2>
<hr><br>
<mat-dialog-content class="mat-typography">
    <ul>
        <li>
            <h3>Try some Demo Code</h3>
            <mat-dialog-actions>
                <button (click)="insertDemo('demo1')" mat-stroked-button>Demo 1</button>
                <button (click)="insertDemo('demo2')" mat-stroked-button>Demo 2</button>
                <button (click)="insertDemo('demo3')" mat-stroked-button>Demo 3</button>
            </mat-dialog-actions>
            <br><br>
        </li>

        <li>
            <h3>Funtion Buttons</h3>
            <img src="/assets/images/buttonFunctionsGuide.jpg" alt="image">
            <br>
        </li>
    </ul>
</mat-dialog-content>
