.enabled{
    fill: red;
}

.disabled{
    fill: black;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.presentationMode{
    font-size: large;
}