<h1>About</h1>
<hr><br>
<mat-dialog-content class="mat-typography">
    <ul>
        <li>
            <h3>Mic1Toolbox</h3>
            <p style="color: black;">
                An easy to access Web-Application that emulates the MIC-1 processor architecture invented by Andrew S. Tanenbaum.
            </p>
            <br><br>
        </li>

        <li>
            <h3>Team</h3>
            <ul>
                <li>Yasin Kavuk (Developer)</li>
                <li>Max Brockmann (Developer)</li>
                <li>Ha Tran (Developer)</li>
                <li>Jonas Doese (Supervision)</li>
                <li>Oskar Carl (Supervision)</li>
            </ul>
        </li>
    </ul>
</mat-dialog-content>
