<svg:g id="registers">

    <g id="MAR">
        <title>Memory Address Register</title>
        <g id="Rectangle 1">
            <rect id="Rectangle 1_2" x="180" y="2" width="130" height="36" fill="#D9D9D9"
                stroke="black" stroke-width="2"/>
            <line id="Line 10" x1="231.667" y1="0.990723" x2="231.667" y2="39.0001" stroke="black" />
            <foreignObject x="231" y="2" width="77" height="38">
                <div class="center MAR_Value" [ngClass]="{'presentationMode': presentationMode}">
                    0 
                </div>
            </foreignObject>
        </g>
        <foreignObject x="180.213" y="2" width="52" height="38">
            <div class="center" [ngClass]="{'presentationMode': presentationMode}">
                MAR
            </div>
        </foreignObject>  
    </g>

    <g id="MDR" transform="translate(0,-15)">
        <title>Memory Data Register</title>
        <g id="Rectangle 1_3">
            <rect id="Rectangle 1_4" x="179.756" y="73" width="130" height="36" fill="#D9D9D9"
                stroke="black" stroke-width="2" />
            <line id="Line 10_2" x1="231.423" y1="71.9907" x2="231.423" y2="110" stroke="black" />
            <foreignObject x="231" y="71" width="77" height="38">
                <div class="center MDR_Value" [ngClass]="{'presentationMode': presentationMode}">
                    0 
                </div>
            </foreignObject>
        </g>
        <foreignObject x="180.213" y="73" width="52" height="38">
            <div class="center" [ngClass]="{'presentationMode': presentationMode}">
                MDR
            </div>
        </foreignObject>  
    </g>

    <g id="PC" transform="translate(0,-30)">
        <title>Program Counter</title>
        <g id="Rectangle 1_5">
            <rect id="Rectangle 1_6" x="180" y="144" width="130" height="36" fill="#D9D9D9"
                stroke="black" stroke-width="2" />
            <line id="Line 10_3" x1="231.667" y1="142.991" x2="231.667" y2="181" stroke="black" />
            <foreignObject x="231" y="142" width="77" height="38">
                <div class="center PC_Value" [ngClass]="{'presentationMode': presentationMode}">
                    0 
                </div>
            </foreignObject>
        </g>
        <foreignObject x="180.213" y="142.991" width="52" height="38">
            <div class="center" [ngClass]="{'presentationMode': presentationMode}">
                PC
            </div>
        </foreignObject>    
    </g>

    <g id="MBR" transform="translate(0,-45)">
        <title>Memory Byte Register</title>
        <g id="Rectangle 1_7">
            <rect id="Rectangle 1_8" x="177" y="210.5" width="106" height="36" fill="#D9D9D9"
                stroke="black" stroke-width="2" />
            <line id="Line 10_4" x1="228.667" y1="209.491" x2="228.667" y2="247.5" stroke="black" />
            <foreignObject x="231" y="209" width="53" height="38">
                <div class="center MBR_Value" [ngClass]="{'presentationMode': presentationMode}">
                    0 
                </div>
            </foreignObject>
        </g>
        <foreignObject x="180.213" y="209.491" width="52" height="38">
            <div class="center" [ngClass]="{'presentationMode': presentationMode}">
                MBR
            </div>
        </foreignObject>    
    </g>

    <g id="SP" transform="translate(0,-60)">
        <title>Stack Pointer</title>
        <g id="Rectangle 1_9">
            <rect id="Rectangle 1_10" x="180.546" y="284.798" width="130" height="36" fill="#D9D9D9"
                stroke="black" stroke-width="2" />
            <line id="Line 10_5" x1="232.213" y1="283.788" x2="232.213" y2="321.798" stroke="black" />
            <foreignObject x="231" y="283" width="77" height="38">
                <div class="center SP_Value" [ngClass]="{'presentationMode': presentationMode}">
                    0 
                </div>
            </foreignObject>
        </g>
        <foreignObject x="180.213" y="283.788" width="52" height="38">
            <div class="center" [ngClass]="{'presentationMode': presentationMode}">
                SP
            </div>
        </foreignObject>
    </g>

    <g id="LV" transform="translate(0,-75)">
        <title>Pointer to local Variables</title>
        <g id="Rectangle 1_11">
            <rect id="Rectangle 1_12" x="180.545" y="357" width="130" height="36" fill="#D9D9D9"
                stroke="black" stroke-width="2" />
            <line id="Line 10_6" x1="232.213" y1="355.991" x2="232.213" y2="394" stroke="black" />
            <foreignObject x="232.213" y="355.991" width="77" height="38">
                <div class="center LV_Value" [ngClass]="{'presentationMode': presentationMode}">
                    0 
                </div>
            </foreignObject>
        </g>
        <foreignObject x="180.213" y="355.991" width="52" height="38">
            <div class="center" [ngClass]="{'presentationMode': presentationMode}">
                LV
            </div>
        </foreignObject>
    </g>

    <g id="CPP" transform="translate(0,-90)">
        <title>Pointer to Constants</title>
        <g id="Rectangle 1_13">
            <rect id="Rectangle 1_14" x="179.756" y="424.222" width="130" height="36" fill="#D9D9D9"
                stroke="black" stroke-width="2" />
            <line id="Line 10_7" x1="231.423" y1="423.213" x2="231.423" y2="461.222" stroke="black" />
            <foreignObject x="232.213" y="423.991" width="77" height="38">
                <div class="center CPP_Value" [ngClass]="{'presentationMode': presentationMode}">
                    0 
                </div>
            </foreignObject>
        </g>
        <foreignObject x="180.213" y="423.991" width="52" height="38">
            <div class="center" [ngClass]="{'presentationMode': presentationMode}">
                CPP
            </div>
        </foreignObject>

    </g>

    <g id="TOS" transform="translate(0,-105)">
        <title>Top of Stack</title>
        <g id="Rectangle 1_15">
            <rect id="Rectangle 1_16" x="179.545" y="496.595" width="130" height="36" fill="#D9D9D9"
                stroke="black" stroke-width="2" />
            <line id="Line 10_8" x1="231.213" y1="495.586" x2="231.213" y2="533.595" stroke="black" />
            <foreignObject x="232.213" y="495.586" width="77" height="38">
                <div class="center TOS_Value" [ngClass]="{'presentationMode': presentationMode}">
                    0 
                </div>
            </foreignObject>
        </g>
        <foreignObject x="180.213" y="495.586" width="52" height="38">
            <div class="center" [ngClass]="{'presentationMode': presentationMode}">
                TOS
            </div>
        </foreignObject>

    </g>

    <g id="OPC" transform="translate(0,-120)">
        <title>Register with no preassigned use</title>
        <g id="Rectangle 1_17">
            <rect id="Rectangle 1_18" x="179.545" y="564.5" width="130" height="36" fill="#D9D9D9"
                stroke="black" stroke-width="2" />
            <line id="Line 10_9" x1="231.213" y1="563.491" x2="231.213" y2="601.5" stroke="black" />
            <foreignObject x="232.213" y="563.586" width="77" height="38">
                <div class="center OPC_Value" [ngClass]="{'presentationMode': presentationMode}">
                    0 
                </div>
            </foreignObject>
        </g>
        <foreignObject x="180.213" y="564.213" width="52" height="38">
            <div class="center" [ngClass]="{'presentationMode': presentationMode}">
                OPC
            </div>
        </foreignObject>
        
    </g>

    <g id="H" transform="translate(0,-135)">
        <title>Helper Register</title>
        <g id="Rectangle 1_19">
            <rect id="Rectangle 1_20" x="180.545" y="640.222" width="130" height="36" fill="#D9D9D9"
                stroke="black" stroke-width="2" />
            <line id="Line 10_10" x1="232.213" y1="639.213" x2="232.213" y2="677.222" stroke="black" />
            <foreignObject x="232.213" y="639.213" width="77" height="38">
                <div class="center H_Value" [ngClass]="{'presentationMode': presentationMode}">
                    0 
                </div>
            </foreignObject>

        </g>

        <foreignObject x="180.213" y="639.213" width="52" height="38">
            <div class="center" [ngClass]="{'presentationMode': presentationMode}">
                H
            </div>
        </foreignObject>
    </g>
</svg:g>
