.mat-toolbar{
    background-color: #ccc5b9;
}
.dropdown-menu{
    background-color: aliceblue;
}

.spacer{
    flex: 1 1 auto;
}

.verticalLine{
    border-left: 2px solid grey;
    height: 67%;
    padding-right: 5px;
}

.modeSwitcher{
    height: 90%;
    padding-right: 10px;
    padding-top: 0px;
}

.mat-slide-toggle{
    display: block;
    transform: scale(0.8);
    margin: -3.5px 0;
}

::ng-deep .mat-slide-toggle-bar{
    height: 10px !important;
    width: 35px !important;
}

::ng-deep .mat-slide-toggle-thumb{
    top: -2px;
    position: relative;
}

::ng-deep .mat-slide-toggle-content{
    font-size: medium;
}

.version{
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 10px;
    color: #967878;
}