<mat-toolbar>
    <input #fileMac hidden type="file" (change)="importMacro($event)" accept=".txt">
    <input #fileMic hidden type="file" (change)="importMicro($event)" accept=".txt">
    <button mat-button (click)="fileMac.click()">Import Macro</button>
    <button mat-button (click)="fileMic.click()">Import Micro</button>
    <button mat-button (click)="exportMacro()">Export Macro</button>
    <button mat-button (click)="exportMicro()">Export Micro</button>
    <button mat-button>Getting Started</button>
    <button mat-button>About</button>
    <button mat-raised-button (click)="integrationTest()">Integration Test</button>
    <button mat-raised-button (click)="testMicro()">testMicro</button>
</mat-toolbar>