<mat-toolbar>
    <input #fileMac hidden type="file" (change)="importMacro($event)" accept=".txt">
    <input #fileMic hidden type="file" (change)="importMicro($event)" accept=".txt">

    <div mdbDropdown class="dropdown">
        <button mat-button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenu2"
          mdbDropdownToggle
          aria-expanded="false">
          Import/Export
        </button>
        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><button mat-button (click)="fileMac.click()">Import Macro</button></li>
          <li><button mat-button (click)="fileMic.click()">Import Micro</button></li>
          <li><button mat-button (click)="exportMacro()">Export Macro</button></li>
          <li><button mat-button (click)="exportMicro()">Export Micro</button></li>
        </ul>
    </div>

    <span class="spacer"></span>

    <div class="modeSwitcher">
      <mat-slide-toggle (change)="toggleTheme($event)">Light Mode</mat-slide-toggle>
      <mat-slide-toggle (change)="switchEditors($event)">Switch Editors</mat-slide-toggle>
      <mat-slide-toggle (change)="togglePresentationMode($event)">Presentation Mode</mat-slide-toggle>
    </div>

    <span class="verticalLine"></span>
    <a mat-button target="_blank" href="https://github.com/vs-ude/mic-1-toolbox/discussions/120">Forum</a>
    <button class="btn" mat-button (click)="openGettingStartedDialog()">Getting Started</button>
    <button class="btn" mat-button (click)="openAboutDialog()">About</button>
    <span class="version">v{{ currentApplicationVersion }}</span>

</mat-toolbar>