<mat-grid-list cols="3" rowHeight="16:1">
    <mat-grid-tile rowspan="32" colspan="1">
        <div class="div">
            <app-tool-bar-mic-view></app-tool-bar-mic-view>
            <app-mic-visualization></app-mic-visualization>
            
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="16" colspan="1">
        <div class="div">
            <p>Microprograms</p>
            <app-micro-editor></app-micro-editor>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="32" colspan="1">
        <div class="div">
            <p>Input for Macroassembler</p>
            <app-editor></app-editor>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="16" colspan="1">
        <div class="div">
            <p>Stack View</p>
            <app-stack></app-stack>
        </div>
    </mat-grid-tile>
</mat-grid-list>