<mat-grid-list cols="3" rowHeight="fit" style="height: calc(100% - 64px);">
    <mat-grid-tile rowspan="2" colspan="1">
        <div>
            <app-tool-bar-mic-view></app-tool-bar-mic-view>
            <app-mic-visualization></app-mic-visualization>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
        <div>
            <p>Microprograms</p>
            <app-micro-editor></app-micro-editor>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="1">
        <div>
            <p>Input for Macroassembler</p>
            <app-editor></app-editor>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
        <div>
            <p>Stack View</p>
            <app-stack></app-stack>
        </div>
    </mat-grid-tile>
</mat-grid-list>